// Placeholder to allow overriding predefined variables smoothly.

$h11: 2rem;
$h2: 1.375rem;
// $h6: .75rem;
$h66: .7rem;
$h7: .675rem;
$h77: .65rem;
$h8: .625rem;
$h9: .62rem;

// Sans 
$Extra-light: 200;
$Light: 300;
$Regular: 400;
$Medium: 500;
$Semi-bold: 600;
$Bold: 700;
$Black: 900;
// Serif
$Thin: 100;
// $Light: 300;
// $Regular: 400;
// $Medium: 500;
// $Bold: 700;
// $Black: 900;

// $sh-sf-h-jp: source-han-serif-japanese-Heavy;
// $sh-sf-b-jp: source-han-serif-japanese-Bold;
// $sh-sf-sb-jp: source-han-serif-japanese-SemiBold;
// $sh-sf-m-jp: source-han-serif-japanese-Medium;
// $sh-sf-r-jp: source-han-serif-japanese-Regular;
// $sh-sf-l-jp: source-han-serif-japanese-Light;
// $sh-sf-exl-jp: source-han-serif-japanese-ExtraLight;

// $sh-sf-h-cn: source-han-serif-cn-Heavy;
// $sh-sf-b-cn: source-han-serif-cn-Bold;
// $sh-sf-sb-cn: source-han-serif-cn-SemiBold;
// $sh-sf-m-cn: source-han-serif-cn-Medium;
// $sh-sf-r-cn: source-han-serif-cn-Regular;
// $sh-sf-l-cn: source-han-serif-cn-Light;
// $sh-sf-exl-cn: source-han-serif-cn-ExtraLight;