// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/custom-variables.scss` to override variable defaults)
.jp {
  & p {
    font-family: 'Noto Serif JP', serif;
    font-weight: $Light;
    font-size: $h2;
    line-height: $h0;
  }

  & p rt {
    font-family: 'Noto Serif JP', serif;
    font-weight: $Bold;
  }

  & table {
    & th td {
      font-family: 'Noto Serif JP', serif;
      font-weight: $Black;
    }
  }
}

h1 {
  font-family: 'Noto Serif SC', serif;
  font-weight: $Black;
  font-size: $h0;
}

h2 {
  font-family: 'Noto Serif SC', serif;
  font-weight: $Bold;
}

h3 {
  font-family: 'Noto Serif SC', serif;
  font-weight: $Medium;
}

h4,
h5,
h6,
.post-content,
.post-summary {
  font-family: 'Noto Serif SC', serif;
  font-weight: $Regular;
}


code {
  color: #7a7a7a;
  font-family: Menlo, Monaco, "Courier New", monospace;
  font-size: 0.825rem;
}

table {
  font-size: 0.825rem;
  // font-size: 1rem;
}

.