<footer class="center">
  <div class="measure">
    <!-- <div><a href={{ site.baseurl }}>{{ site.title | escape }}</a></div> -->
    <div class="left">
      <small>
        &copy; 2019-{{ site.time | date:"%Y" }} {{ site.author }}</br>
        Last modified at {{ site.time | date: "%Y.%m.%d" }}
      </small>
    </div>
    <div class="right">
      {% if site.show_social_icons %}
        {% include social_links.html %}
      {% endif %}
    </div>
  </div>
</footer>
<!-- <script type="text/javascript">
    if ("serviceWorker" in navigator) {
      navigator.serviceWorker.register("{{ '/sw.js' | relative_url }}")
    }
</script> -->
