// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/custom-variables.scss` to override variable defaults)

h1.post-title {
    font-family: 'source-han-serif-sc';
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
}
