// source-han-serif-cn-Heavy
@font-face {
    font-family: 'source-han-serif-cn-Heavy';
    src: url("../fonts/SourceHanSerifCN/SourceHanSerifCN-Heavy.otf");
}

@font-face {
    font-family: 'source-han-serif-cn-Bold';
    src: url("../fonts/SourceHanSerifCN/SourceHanSerifCN-Bold.otf");
}

@font-face {
    font-family: 'source-han-serif-cn-SemiBold';
    src: url("../fonts/SourceHanSerifCN/SourceHanSerifCN-SemiBold.otf");
}

@font-face {
    font-family: 'source-han-serif-cn-Medium';
    src: url("../fonts/SourceHanSerifCN/SourceHanSerifCN-Medium.otf");
}

@font-face {
    font-family: 'source-han-serif-cn-Regular';
    src: url("../fonts/SourceHanSerifCN/SourceHanSerifCN-Regular.otf");
}

@font-face {
    font-family: 'source-han-serif-cn-Light';
    src: url("../fonts/SourceHanSerifCN/SourceHanSerifCN-Light.otf");
}

@font-face {
    font-family: 'source-han-serif-cn-ExtraLight';
    src: url("../fonts/SourceHanSerifCN/SourceHanSerifCN-ExtraLight.otf");
}


// source-han-serif-japanese
@font-face {
    font-family: 'source-han-serif-japanese-Heavy';
    src: url("../fonts/SourceHanSerifJP/SourceHanSerifJP-Heavy.otf");
}

@font-face {
    font-family: 'source-han-serif-japanese-Bold';
    src: url("../fonts/SourceHanSerifJP/SourceHanSerifJP-Bold.otf");
}

@font-face {
    font-family: 'source-han-serif-japanese-SemiBold';
    src: url("../fonts/SourceHanSerifJP/SourceHanSerifJP-SemiBold.otf");
}

@font-face {
    font-family: 'source-han-serif-japanese-Medium';
    src: url("../fonts/SourceHanSerifJP/SourceHanSerifJP-Medium.otf");
}

@font-face {
    font-family: 'source-han-serif-japanese-Regular';
    src: url("../fonts/SourceHanSerifJP/SourceHanSerifJP-Regular.otf");
}

@font-face {
    font-family: 'source-han-serif-japanese-Light';
    src: url("../fonts/SourceHanSerifJP/SourceHanSerifJP-Light.otf");
}

@font-face {
    font-family: 'source-han-serif-japanese-ExtraLight';
    src: url("../fonts/SourceHanSerifJP/SourceHanSerifJP-ExtraLight.otf");
}