// Placeholder to allow overriding predefined variables smoothly.

// Sans 
$Extra-light: 200;
$Light: 300;
$Regular: 400;
$Medium: 500;
$Semi-bold: 600;
$Bold: 700;
$Black: 900;
// Serif
$Thin: 100;
// $Light: 300;
// $Regular: 400;
// $Medium: 500;
// $Bold: 700;
// $Black: 900;