// $h6: .75rem;
// $h66: .7rem;
// $h7: .675rem;
// $h77: .65rem;
// $h8: .625rem;
// $h9: .62rem;

.h66 {
    font-size: $h66;
}

.h7 {
    font-size: $h7;
}

.h77 {
    font-size: $h77;
}

.h8 {
    font-size: $h8;
}

.h9 {
    font-size: $h9;
}
