// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/custom-variables.scss` to override variable defaults)

.lyric-title {
  font-size: $h0;
}

.lyric-description {
  font-size: $h3;
  line-height: $h0;
}

.lyric-link {
  font-size: $h4;

  & span {
    font-family: 'Noto Serif JP', serif;
    font-weight: $Semi-bold;
  }

  & a {
    font-family: 'Noto Serif JP', serif;
    font-weight: $Extra-light;
  }
}

.jp .markdown {
  & p {
    font-family: 'Noto Serif JP', serif;
    font-weight: $Light;
    font-size: 1.15rem;
  }

  & rt {
    font-family: 'Noto Serif JP', serif;
    font-weight: $Bold;
  }

  & sup,
  sub {
    font-size: $h6;
  }

  & .footnotes {
    line-height: $h6;

    & p {
      font-size: $h6;
      line-height: $h5;
      text-align: left;
    }
  }
}

// Font Family
.jp {
  & .noto.serif {
    font-family: 'Noto Serif JP', serif;
  }

  & .noto.sans {
    font-family: 'Noto Sans JP', sans-serif;
  }
}

.tc {
  & .noto.serif {
    font-family: 'Noto Serif TC', serif;
  }

  & .noto.sans {
    font-family: 'Noto Sans TC', sans-serif;
  }
}

.tc .markdown {
  & p {
    font-family: 'Noto Serif TC', serif;
    font-weight: $Medium;
    font-size: $h2;
  }

  & rt {
    font-family: 'Noto Sans TC', serif;
    font-weight: $Bold;
  }

  & sup,
  sub {
    font-size: $h6;
  }

  & .footnotes {
    line-height: $h6;

    & p {
      font-size: $h6;
      line-height: $h5;
      text-align: left;
    }
  }
}

.noto.serif.sc {
  font-family: 'Noto Serif SC', serif;
}

.noto.sans.sc {
  font-family: 'Noto Sans SC', sans-serif;
}



// Font Weight
.noto.thin {
  // 100
  font-weight: $Thin;
}

.noto.ex-light {
  // 200
  font-weight: $Extra-light;
}

.noto.light {
  // 300
  font-weight: $Light;
}

.noto.regular {
  // 400
  font-weight: $Regular;
}

.noto.medium {
  // 500
  font-weight: $Medium;
}

.noto.semibold {
  // 600
  font-weight: $Semi-bold;
}

.noto.bold {
  // 700
  font-weight: $Bold;
}

.noto.black {
  // 900
  font-weight: $Black;
}